.board-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    border-radius: 8px;
}

.lists-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    overflow-x: auto;
    height: 100%;
    gap: 10px;
}